@media (max-width: 1450px) {
  .scheme__list {
    padding-right: 30px;
  }
  .manufacturers .wrapper-swiper {
    position: relative;
    margin: 0 auto;
    margin-bottom: 42px;
    width: 970px;
  }
}
@media (max-width: 1280px) {
  .header .header__top .top__block {
    flex-wrap: wrap;
  }
  .header .header__top .top__block .logo {
    margin-right: 90px;
    margin-bottom: 20px;
  }
  .header .header__top .top__block .tel {
    margin-bottom: 20px;
  }
  .header .header__top .top__block .nav {
    order: 1;
    width: 100%;
  }
  .header .header__top .top__block .nav__list {
    justify-content: space-between;
    overflow: auto;
  }
  .header .header__top .top__block .nav__link {
    white-space: nowrap;
  }
  .header .company .activity__title {
    font-size: 55px;
  }
  .header .company .activity__title-min {
    font-size: 55px;
  }
  .header .company .contacts__top {
    padding: 15px;
  }
  .header .company .contacts__title {
    font-size: 20px;
  }
  .header .company .contacts .form {
    padding: 15px;
  }
  .profitably__list {
    justify-content: space-between;
    gap: 20px;
  }
  .profitably__list .item {
    width: calc((100% - 40px) / 3);
  }
  .scheme__list .scheme__item {
    width: calc((100% - 40px) / 2);
  }
  .manufacturers .wrapper-swiper {
    width: 720px;
  }
  .manufacturers .wrapper-swiper .swiper__button {
    left: -7%;
    width: 114%;
  }
  .footer__block {
    flex-direction: column;
  }
  .footer__block .logo {
    margin-bottom: 30px;
  }
  .footer__block .nav {
    max-width: 100%;
  }
  .footer__block .nav__list {
    margin-bottom: 30px;
    overflow: auto;
  }
  .footer__block__item:not(:last-child) {
    margin-right: 25px;
  }
  .footer__block__link {
    white-space: nowrap;
  }
}
@media (max-width: 860px) {
  .header__top .top__block .nav {
    max-width: 100%;
  }
  .header__top .top__block .nav__list {
    overflow: auto;
  }
  .header__top .top__block__item:not(:last-child) {
    margin-right: 25px;
  }
  .header__top .top__block__link {
    white-space: nowrap;
  }
  .header .company .company__block {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .header .company .company__block .activity {
    width: 100%;
  }
  .profitably__list .item {
    width: calc((100% - 20px) / 2);
  }
  .scheme__list {
    padding-right: 0;
  }
  .scheme__list .scheme__item {
    width: 100%;
  }
  .scheme__list .scheme__item .item {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .scheme__list .scheme__item:before {
    display: none;
  }
  .manufacturers .wrapper-swiper {
    width: 430px;
  }
  .manufacturers .wrapper-swiper .swiper__button {
    left: -11%;
    width: 122%;
  }
}
@media (max-width: 540px) {
  h2 {
    font-size: 40px !important;
  }
  .header .company {
    padding-bottom: 0;
  }
  .header .company .activity .activity__title {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .header .company .activity .activity__title-min {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .header .company .activity .activity__descr {
    font-size: 16px;
  }
  .header .company .activity .activity__list {
    padding: 10px 15px;
  }
  .header .company .activity .item__descr {
    font-size: 16px;
  }
  .profitably__list .item {
    width: 100%;
  }
  .manufacturers .wrapper-swiper {
    width: 220px;
  }
  .manufacturers .wrapper-swiper .swiper__button {
    left: -20%;
    width: 140%;
  }
  .answers__list .item__block {
    padding: 11px 9px;
  }
}
@media (max-width: 482px) {
  .header .header__top {
    height: 165px;
  }
  .header .header__top .top__block .logo {
    margin-bottom: 10px;
  }
  .header .header__top .top__block .tel {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=media.css.map */